@font-face {
    font-family: RobotoMono-Bold;
    src: url(../assets/fonts/RobotoMono-Bold.ttf);
}

@font-face {
    font-family: RobotoMono-Light;
    src: url(../assets/fonts/RobotoMono-Light.ttf);
}

@font-face {
    font-family: RobotoMono-Medium;
    src: url(../assets/fonts/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: RobotoMono-Regular;
    src: url(../assets/fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: RobotoMono-Thin;
    src: url(../assets/fonts/RobotoMono-Thin.ttf);
}
:root {
    --morado-1: #181B35;
    --morado-2: #242641;
    --morado-3: #8F7DFA;
    --morado-4:#313450;
    --morado-5: #7E75B0;
    --morado-6:#484C72;
    --morado-7:#111224;
    --morado-8: #afa1fe;
    --blanco-1: #FFFFFF;
    --morado-bg: #111224;
    --gris-op: #7377A0;
    
    --border-8: 8px;

    --lost-blue:rgba(0, 119, 255, 0.64);
    --ancient-purple: rgba(104, 78, 255, 0.64);
    --found-pink: rgba(219, 0, 255, 0.64);
    --gathered-aqua:rgba(0, 240, 255, 0.64);
}
